# Notes ---
# This file must be placed in C:\Users\<Username>
#----------

[user]
#	name = jesuswasrasta
#	email = 
[core]
	autocrlf = true
#	excludesfile = C:\\Users\\<Username>\\Documents\\gitignore_global.txt
[alias]
	# Shortcuts
	st = status
	cm = commit -m
	acm = !git add -A && git commit -m
	caa = commit -a --amend -C HEAD
	co = checkout
	cob = checkout -b
	# New commands
	undo = reset --soft HEAD~1 
	unstage = reset HEAD --
	tree = log --all --graph --decorate --pretty=oneline --abbrev-commit
	last = log -1 HEAD
	#sync = "!f(){ local branch=`git branch 2> /dev/null | sed -e '/^[^*]/d' -e \"s/* \\(.*\\)/\\1/\"`; git pull origin $branch && git push origin $branch; }; f" 
[push]
	default = matching
[help]
	autocorrect = 1
[credential]
	helper = manager

