# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs		text diff=csharp
*.csproj	text
*.sln		text
*.vbproj	merge=union
*.fsproj	merge=union
*.dbproj	merge=union
*.xaml		text
*.tt		text
*.ps1		text
*.cmd		text
*.msbuild	text
*.md		text

# Standard to msysgit
*.doc	diff=astextplain
*.DOC	diff=astextplain
*.docx	diff=astextplain
*.DOCX	diff=astextplain
*.dot	diff=astextplain
*.DOT	diff=astextplain
*.pdf	diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jepg    binary
*.sdf     binary